<p>character-list works!</p>
<h3>{{ listName() }}</h3>
<ul>
  @for (character of characters(); track character.id; let idx = $index) {
    @if (character.power > 500) {
      <li>
        <span>{{ idx + 1 }} {{ character.name }}</span>
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-info]="character.power < 9000"
        >
          ({{ character.power }})</strong
        >
      </li>
    } @else {
      <li><strong>Aqui no vale la pena ver nada</strong></li>
    }
  }
</ul>
